.main-wrapper 
  display: none !important;

.tags-page .main-wrapper,
.categories-page .main-wrapper 
  display: flex !important;

h1, h2, h3, h4, h5, h6 
  color: #74c0fc;

.sidebar 
  user-select: none;

.content-wrapper 
  font-size: 18px

.theme-vdoing-content strong
  color: #9180e3;

.suggestions
  overflow: auto
  max-height: calc(100vh - 6rem)
  
  @media (max-width: 719px) {
    width: 90vw;
    min-width: 90vw!important;
    margin-right: -20px;
  }

  .highlight
    color: $accentColor
    font-weight: bold

.custom-block > .custom-block-title
  display: none !important;

.edit-link a:hover
  text-decoration: underline;

.content-wrapper blockquote
  border-left: 4px solid #006cff;
  background-color: #f3f5f7;
  border-radius: 3px;

.theme-mode-dark .content-wrapper blockquote
  background-color: #1e2832 !important;


